.flex-header{
	width: 100%;
	height: 50px;
	margin: 0 auto;
	text-align:center;
	align-items: center;
	background-color:#0074D9;
	display: -webkit-flex; /* Safari */
	display: flex; /* Standard syntax */
}
.flex-header .column1{
	padding: 10px;
	text-align:center;
	color:white;
	font-weight:bold;
	display: inline-block;
	-webkit-flex: 1; /* Safari */
	-ms-flex: 1; /* IE 10 */
	flex: 1; /* Standard syntax */
}
.flex-header .column2{
    padding: 10px;
    text-align:center;
    color:white;
	font-weight:bold;
	display: inline-block;
	-webkit-flex: 1; /* Safari */
	-ms-flex: 1; /* IE 10 */
	flex: 1; /* Standard syntax */
}

.color-coding{
    padding: 10px;
    width: 100%;

	text-align: center;
	align-items: center;
}
.color-coding .sup_roles {
    height: 25px;
    width: 25px;
    margin-bottom: -5px auto;
    background-color: #d64b24;
    border-radius: 50%;
    text-align:center;
    align-items: center;
    display: inline-block;
}

.color-coding .eng_roles {
    height: 25px;
    width: 25px;
    margin-bottom: -5px auto;
    background-color: #4b9b23;
    border-radius: 50%;
    text-align:center;
    align-items: center;
    display: inline-block;
}

.color-coding .ctrl_roles {
    height: 25px;
    width: 25px;
    margin-bottom: -5px auto;
    background-color: #c03bb7;
    border-radius: 50%;
    text-align:center;
    align-items: center;
    display: inline-block;
}

.color-coding .tech_roles {
    height: 25px;
    width: 25px;
    margin-bottom: -5px auto;
    background-color: #46212d;
    border-radius: 50%;
    text-align:center;
    align-items: center;
    display: inline-block;
}

.color-coding .spec_workers {
    height: 25px;
    width: 25px;
    margin-bottom: -5px auto;
    background-color: #008bff;
    border-radius: 50%;
    text-align:center;
    align-items: center;
    display: inline-block;
}


.color-coding .sup{
    padding: 10px;
	display: inline-block;
	text-align:center;
    align-items: center;
}

.color-coding .other{
    padding: 10px;
	display: inline-block;
	text-align:center;
    align-items: center;
}

.flex-container{
	width: 100%;
	min-height: 400px;
	margin: 0 auto;
	text-align: center;
	display: -webkit-flex; /* Safari */
	display: flex; /* Standard syntax */
    align-items: center;
}

.region{
	padding: 10px;
	width:100px;
	height:100%
	float:left;
	font-weight:bold;
	background-color:#FF851B;
}

.flex-container .column{
	padding: 10px;
	display: inline;
	width:50%;
	float:left;
	border: 1px dotted black;
	-webkit-flex: 1; /* Safari */
	-ms-flex: 1; /* IE 10 */
	flex: 1; /* Standard syntax */
}

.flex-container .column-bg-alt{
    padding: 10px;
    display: inline;
    width:50%;
    float:left;
    border: 1px dotted black;
	-webkit-flex: 1; /* Safari */
	-ms-flex: 1; /* IE 10 */
	flex: 1; /* Standard syntax */
}

.nodes circle {
    cursor: pointer;
    fill: #8423c6;
    stroke: #000;
    stroke-width: .5px;
}

.links line {
    fill: none;
    stroke: #9ecae1;
    stroke-width: .5px;

}

